h1 {text-align: center; font-family: 'Lato', sans-serif; font-size: 54px; font-weight: 300; line-height: 58px; }

.heading{
  width: 100%;
  text-align: center;
  cellspacing:"0";
  cellpadding:"0";
  };



.member_text{
  font-size: 12px;
}
